WebService/src/com/soaint/informacioncliente/ServicioInformacionCliente.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="InformacionCliente" targetNamespace="http://www.soaint.com/InformacionCliente/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ic="http://www.soaint.com/InformacionCliente/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.soaint.com/InformacionCliente/">
      <xsd:element name="consultarClientesRs" type="ic:ListaCLienteType"/>
      <xsd:element name="consultarClientesRq" type="ic:ClienteType"/>
      <xsd:complexType name="ClienteType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="tipoIdentificacion" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="numeroIdentificacion" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="nombres" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="apellidos" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="edad" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="fechaRegistro" type="xsd:date"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListaCLienteType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="listadoClientes" type="ic:ClienteType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="clientePoseeMoraRq" type="ic:ClienteType"/>
      <xsd:element name="clientePoseeMoraRs" type="ic:MoraType"/>
      <xsd:complexType name="MoraType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="enMora" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="clientePoseeMoraRs">
    <wsdl:part name="parameters" element="ic:clientePoseeMoraRs">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="clientePoseeMoraRq">
    <wsdl:part name="parameters" element="ic:clientePoseeMoraRq">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarClientesRs">
    <wsdl:part name="parameters" element="ic:consultarClientesRs">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarClientesRq">
    <wsdl:part name="parameters" element="ic:consultarClientesRq">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InformacionClientePort">
    <wsdl:operation name="consultarClientes">
      <wsdl:input message="ic:consultarClientesRq">
    </wsdl:input>
      <wsdl:output message="ic:consultarClientesRs">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clientePoseeMora">
      <wsdl:input message="ic:clientePoseeMoraRq">
    </wsdl:input>
      <wsdl:output message="ic:clientePoseeMoraRs">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="binding" type="ic:InformacionClientePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultarClientes">
      <soap:operation soapAction="http://www.soaint.com/InformacionCliente/consultarClientes"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clientePoseeMora">
      <soap:operation soapAction="http://www.soaint.com/InformacionCliente/clientePoseeMora"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioInformacionCliente">
    <wsdl:port name="InformacionCliente" binding="ic:binding">
      <soap:address location="http://localhost:8088/consultarClientes"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>